body {
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  display: block;
}

header {
  background: #dc0368;
  color: yellow;
  text-align: center;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

/* @media only screen and (max-width: 600px) {
  body {
    min-height: 100%;
    height: 100%;
    max-width: 100%;
  }
} */

.card {
  margin-top: 20px;
  background-color: lightgrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  /* card height according to context automatically */
  min-height: 100px;
  overflow: hidden;
}

.card-title {
  color: yellow;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  text-align: left;
}

.card-text {
  color: black;
  /* font-size: calc(6px + 1vmin); */
  font-size: 16px;
  /* font-weight: bolder; */
  text-align: left;
}

.startpage {
  background-color: #bb3b77;
}

.startPageHeader {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  float: left;
  width: 100%;
  margin-bottom: 0.5em;
}

.btn-light {
  background-color: #bb3b77;
  border-color: white;
  color: white;
}

a {
  color: white;
}

.questionPageLink {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  color: #3c8fde;
  font-size: 12px;
  letter-spacing: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.questionText {
  color: #bb3b77;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  float: left;
  margin-bottom: 0.5em;
}

.answerText {
  margin-top: 30px;
  width: 100%;
}

.summaryHeader {
  color: #bb3b77;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  float: left;
  width: 100%;
  margin-bottom: 0.5em;
}

.summaryInfoTx {
  line-height: 22px;
  font-size: 16px;
  font-family: sans-serif;
  color: black;
  text-align: left;
}

.summaryLink {
  color: #3c8fde;
  text-decoration: underline;
}